
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');



*{
padding: 0px;
margin:0px ;

}
:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-principal: 'Inter';
    --botao-azul-efeito: #3c92fa;
    
}

body{
background-color: var(--cor-de-fundo);
}

.cabecalho{
    display:grid;
    grid-template-columns:50% 25% 25% ;
width:auto;
background-image: url(imagens/Background.png);
background-size:contain;
background-repeat: no-repeat;
height:46rem;
}

.cabecalho__conteudo01{
display:flex;
align-items: center;
color:var(--branco-principal);

}
.cabecalho__conteudo02{
display: flex;
width:36rem ;
height: 26rem;
justify-content: center;
flex-direction: column;
align-items: center;
margin-left:30px ;
padding: 2%;
gap: 16px;
}



.cabecalho__conteudo02__titulo{

width:36rem;
height:7rem ;
font-family: var(--fonte-principal);
font-weight:500;
}

.cabecalho__imagem02{
    
    }
    
.cabecalho__conteudo02__botao01{
    display: flex;
border:1px solid var(--botao-azul);
padding:2% ;
width:32rem ;
height: 3.1rem;
background-color: var(--botao-azul);
border-radius: 12px;
justify-content: center;
align-items: center;
}

.cabecalho__conteudo02__botao01:hover{
background-color: var(--botao-azul-efeito);

}
.cabecalho__conteudo02__botao02{

    display: flex;
border:1px solid var(--cinza-secundario);
padding:2% ;
width:32rem ;
height: 3.1rem;
justify-content: center;
align-items: center;
border-radius: 12px;


}
.cabecalho__conteudo02__botao02:hover{
background-color: var(--botao-azul-efeito);


}



.cabecalho__conteudo02__valor{
    font-family: var(--fonte-principal);
    font-weight:500;
    text-decoration: none;
    color: var(--branco-principal);
    

}

.cabecalho__conteudo02__texto{

    font-family: var(--fonte-principal);
    font-weight:100;

}
/*--------------------------------------------------------------------------------*/

.parte01{
    display: flex;
background-color: var(--cor-de-fundo);
padding: 5%;
align-items: center;
justify-content: center;
gap: 50px;


}


.parte01__conteudo{
    width: 36rem;
    height: 7rem;

}
.parte01__conteudo__titulo{
font-family: var(--fonte-principal);
font-weight: 700;
font-size: 3rem;

color: var(--branco-principal);

}
.parte01__conteudo__texto{
font-weight: 400;
font-size: 1rem;
height: 3rem;
line-height: 1.5rem;
color: var(--cinza-secundario);


}
/*------------------------------------------------------------------------------*/

.parte02{
display: flex;
background-color: var(--cor-de-fundo);
align-items: center;
justify-content: center;
gap: 80px;
margin-top: 50px;
}

.parte02__conteudo{
    width: 36rem;
    height: 9rem;




}

.parte02__conteudo__texto{
    
    font-weight: 400;
    font-size: 1rem;
    height: 3rem;
    line-height: 1.5rem;
    font-family: var(--fonte-principal);
    color: var(--cinza-secundario);
    gap: 16px;
    margin-bottom:50px ;

}

.parte02__conteudo__botao{
    display: flex;
    border:1px solid var(--botao-azul);
    padding:2% ;
    width:10rem ;
    height: 3rem;
    background-color: var(--botao-azul);
    border-radius: 12px;
    justify-content: center;
    align-items: center;
    color: var(--branco-principal);
    

}

/*---------------------------------------------------------------------------*/

.parte03{
display: flex;
flex-direction: row-reverse;
align-items: center;
justify-content: center;
gap: 80px;
margin-top: 150px;
}

.parte03__conteudo{
    width: 36rem;
    height: 9rem;
}


.parte03__conteudo__titulo{
    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 3rem;
    
    color: var(--branco-principal);


}

.parte03__conteudo__texto{


    font-weight: 400;
    font-size: 1rem;
    height: 3rem;
    line-height: 24px;
    color: var(--cinza-secundario);
    

}
/*------------------------------------------------------------*/

.parte04{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;

margin-top: 150px;
}

.parte04__titulo{

    font-family: var(--fonte-principal);
    font-weight: 700;
    font-size: 3rem;
    
    color: var(--branco-principal);
margin-bottom:90px ;


}

.parte04__conteudo{
display: flex;

color: var(--branco-principal);


}

.parte04__conteudo__imagem{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
font-family: var(--fonte-principal);

font-weight: 700;

}
/*----------------------------------------------------------*/

.rodape{
display: flex;
    margin-top: 150px;
flex-direction: column;
gap: 50px;
justify-content: center;
align-items: center;
}


.rodape__informacoes{
color: var(--cinza-secundario);
font-family: var(--fonte-principal);
display: flex;
gap: 20px;
justify-content: center;
font-weight: 700;
}


.rodape__texto{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap: 20px;
padding-bottom:50px ;

}

.rodape__texto01{
color: var(--cinza-secundario);
font-family: var(--fonte-principal);
font-weight: 100;



}

.rodape__texto02{
width: 61rem;
    color: var(--cinza-secundario);
    font-family: var(--fonte-principal);
    font-weight: 100;
    text-align: justify;


}
/*-------------------------------------------------------------------------*/


@media (max-width:1200px) {


    .cabecalho{ 
    display: flex;
    justify-content: center;
    background: url(imagens/background02.png);
    background-size: cover;
    background-repeat: no-repeat;
    width:auto;
    
    }
    .cabecalho__conteudo02{
    width: 100%;
    margin-top: 1200px;
    justify-content: center;
    align-items: center;
    
    
    
    }
    
    .cabecalho__imagem02{
    width:80% ;
    padding-bottom: 5%;
    }
    
    .cabecalho__conteudo02__titulo{
    width:100%;
    text-align: center;
    }
    
    .cabecalho__conteudo02__texto{
    width: 100%;
    text-align: center;
    }
    
    .cabecalho__conteudo02__botao01{
    
    
    }
    
    
    
    
    .cabecalho__conteudo02__botao02{
    
    }
    
    
    
    
    .parte01{
    display: flex;
    flex-direction: column;
    width: auto;
    padding:8%;
    margin-top: 450px;
    }
    
    .parte01__imagem{
    width: 80%;
    }
    
    .parte01__conteudo{
        width: auto;
    
    
    }
    
    
    .parte02{
        display: flex;
        flex-direction:  column-reverse;
    
        padding:8%;
    
    }
    
    
    .parte02__imagem{
    
    width:80%;
    
    }
    
    .parte02__conteudo{
    
    width:auto;
    
    }
    .parte02__conteudo__texto{
    }
    
    
    
    .parte02__conteudo__botao{
    margin-top:90px ;
    
    }
    
    
    .parte03{
        display: flex;
        flex-direction: column;
        
    padding:2%;
    }
    
    .parte03__conteudo{
    
        width: auto;
    
    }
    .parte03__conteudo__titulo{
    text-align: center;
    
    }
    .parte03__conteudo__texto{
    text-align: center;
    
    }
    
    .parte03__imagem{
    
    width: 60%;
    
    }
    
    
    
    .parte04{
    
    margin-top: 0px;
        padding:8%;
    }
    
    .parte04__titulo{
    
    text-align: center;
    }


    .parte04__conteudo{
    flex-direction: column;
    width: 100%;
    
    }
    
    
    .rodape{
    
        margin-top: 0px;
    
        padding:8%;
    }
    .rodape__informacoes{
    flex-direction: column;
    text-align: center;
    
    }
    .rodape__imagem{
    
    width: 20%;
    }
    
    
    .rodape__texto{
    
    text-align: justify;
    }
    .rodape__texto02{
    
    text-align: justify;
        width:100% ;
    
    }
        
    } 
/*-------------------------------------------------------------------------------------------------*/

@media (max-width:500px) {


.cabecalho{ 
display: flex;
justify-content: center;

background: url(imagens/background02.png);
background-size: contain;
background-repeat: no-repeat;
width:auto;
padding: 2%;
}
.cabecalho__conteudo02{
width:auto;
margin-top: 280px;
justify-content: center;
align-items: center;

margin-left:5px;


}

.cabecalho__imagem02{
width:70% ;

}

.cabecalho__conteudo02__titulo{
width:410px;
}

.cabecalho__conteudo02__texto{
width: 100%;


}

.cabecalho__conteudo02__botao01{

width: auto;

}




.cabecalho__conteudo02__botao02{

width: auto;
}




.parte01{
display: flex;
flex-direction: column;
width: auto;
padding:8%;
margin-top: 0px;
}

.parte01__imagem{
width: 80%;
}

.parte01__conteudo{
    width: auto;


}


.parte02{
margin-top: 150px;
    display: flex;
    flex-direction:  column-reverse;

    padding:8%;

}


.parte02__imagem{

width:80%;

}

.parte02__conteudo{

width:auto;

}
.parte02__conteudo__texto{
}



.parte02__conteudo__botao{
margin-top:90px ;

}


.parte03{
    display: flex;
    flex-direction: column;
    
padding:8%;
}

.parte03__conteudo{

    width: auto;

}
.parte03__conteudo__titulo{


}

.parte03__imagem{

width: 80%;

}



.parte04{

margin-top: 0px;
    padding:8%;
}


.parte04__conteudo{
flex-direction: column;
width: 100%;

}


.rodape{

    margin-top: 0px;

    padding:8%;
}
.rodape__informacoes{
flex-direction: column;


}
.rodape__imagem{

width: 30%;
}


.rodape__texto{

text-align: justify;
}
.rodape__texto02{

text-align: justify;
    width:100% ;

}
    
} 

